
{% extends 'nucleo/base.html' %}

{% block title %}Página Inicial - NerdHub{% endblock %}

{% block content %}
{% load static %}
<!-- BANNER PRINCIPAL -->
<section class="banner">
    <img src="{% static 'img/banner.png' %}" alt="Banner Promocional">
</section>

<!-- MARCAS FAMOSAS -->
<section class="brands">
    <h2>Navegue por Marcas Famosas</h2>
    <div class="brand-buttons">
        <button>Disney</button>
        <button>Marvel</button>
        <button>Star Wars</button>
        <button>PlayStation</button>
        <button>Xbox</button>
    </div>
</section>

<!-- FUNKOS DO MÊS -->
<section class="funkos">
    <h2>Produtos em Destaque</h2>
    <div class="funko-grid">
        {% for produto in produtos %}
            <div class="funko-item">
                <img src="{{ produto.imagem_principal.url }}" alt="{{ produto.nome }}" class="funko-img">
                <h3>{{ produto.nome }}</h3>
                <p class="price">R$ {{ produto.preco }}</p>
                <a href="{% url 'detalhe_produto' produto.id %}" class="btn">Ver mais</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}



asdasdasdasdasd